.dockerignore
.env
.git
.gitignore
.vs
.vscode
docker-compose.yml
docker-compose.*.yml
**/package-lock.json
**/bin
**/obj
**/*.ConsumerTests
**/*.UnitTest
**/*.Features
**/node_modules
**/wwwroot
**/dist
**/.vs
**/.vscode
