// @import '../../styles';
$small-breakpoint-width: 720px;

.tex-sidenav-container {
    flex: 1;
}

.tex-header {
    display: flex;
    padding: 8px;
    min-height: 64px; 
    div {
        padding: 24px 8px;
    }
}
    
.tex-sidenav-toggle {
    padding: 0;
    margin: 8px;
    min-width: 64px;
    display: none;
    @media (max-width: $small-breakpoint-width) {
      display: flex;
      align-items: center;
      justify-content: center;
    }
}

.tex-sidenav-item-selected {
    font-weight: 600;
}
