<div #container class="container">
</div>
<mat-form-field class="ml12px">
    <mat-select placeholder="mode" [(ngModel)]="mode" (selectionChange)="modeChanged($event)">
        <mat-option value="mirror" selected>mirror</mat-option>
        <mat-option value="offset">offset</mat-option>
    </mat-select>
</mat-form-field>
<mat-form-field class="ml12px">
    <mat-select placeholder="interpolation" [(ngModel)]="interpolation" (selectionChange)="interpolationChanged($event)">
        <mat-option *ngFor="let interpolation of interpolations" [value]="interpolation.value">
            {{ interpolation.viewValue }}
        </mat-option>
    </mat-select>
</mat-form-field>
<mat-form-field class="ml12px">
    <input matInput type="number" min="1" max="10" step="1" placeholder="bands" [(ngModel)]="bands" (ngModelChange)="bandsChanged($event)">
</mat-form-field>
<br/>
<mat-radio-group (change)="colorChanged($event)">
    <label class="label ml12px">colors:</label>
    <mat-radio-button class="ml12px" value="0" checked>
        <span style="background:#08519c">&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <span style="background:#bdd7e7">&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <span style="background:#bae4b3">&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <span style="background:#006d2c">&nbsp;&nbsp;&nbsp;&nbsp;</span>
    </mat-radio-button>
    <mat-radio-button class="ml12px" value="1">
        <span style="background:#4575b4">&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <span style="background:#e0f3f8">&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <span style="background:#fee090">&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <span style="background:#d73027">&nbsp;&nbsp;&nbsp;&nbsp;</span>
    </mat-radio-button>
    <mat-radio-button class="ml12px" value="2">
        <span style="background:#e06c4c">&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <span style="background:#f5d2ca">&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <span style="background:#c0e2f0">&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <span style="background:#1da4d1">&nbsp;&nbsp;&nbsp;&nbsp;</span>
    </mat-radio-button>
    <mat-radio-button class="ml12px" value="3">
        <span style="background:#313695">&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <span style="background:#abd9e9">&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <span style="background:#fee090">&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <span style="background:#d73027">&nbsp;&nbsp;&nbsp;&nbsp;</span>
    </mat-radio-button>
    <mat-radio-button class="ml12px" value="4">
        <span style="background:#5e4fa2">&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <span style="background:#e6f598">&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <span style="background:#fee08b">&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <span style="background:#9e0142">&nbsp;&nbsp;&nbsp;&nbsp;</span>
    </mat-radio-button>
    <mat-radio-button class="ml12px" value="5">
        <span style="background:#551b01">&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <span style="background:#f89d97">&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <span style="background:#c8ffd4">&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <span style="background:#014e1f">&nbsp;&nbsp;&nbsp;&nbsp;</span>
    </mat-radio-button>
</mat-radio-group>
<br/>
<br/>
<svg class="mlr12px"></svg>
