<div #container class="container">
    A sequence of horizon charts with bands decreasing from 7 to 1.
</div>
<mat-form-field class="ml12px">
    <mat-select placeholder="mode" [(ngModel)]="mode">
        <mat-option value="mirror" selected>mirror</mat-option>
        <mat-option value="offset">offset</mat-option>
    </mat-select>
</mat-form-field>
<mat-form-field class="ml12px">
    <mat-select placeholder="interpolation" [(ngModel)]="interpolation">
        <mat-option *ngFor="let interpolation of interpolations" [value]="interpolation.value">
            {{ interpolation.viewValue }}
        </mat-option>
    </mat-select>
</mat-form-field>
<mat-form-field class="ml12px">
    <input matInput type="number" min="10" max="120" step="10" placeholder="height" [(ngModel)]="height">
</mat-form-field>
<br/>
<mat-radio-group (change)="colorChanged($event)">
    <label class="label ml12px">colors:</label>
    <mat-radio-button class="ml12px" value="0" checked>
        <span style="background:#08519c">&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <span style="background:#bdd7e7">&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <span style="background:#bae4b3">&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <span style="background:#006d2c">&nbsp;&nbsp;&nbsp;&nbsp;</span>
    </mat-radio-button>
    <mat-radio-button class="ml12px" value="1">
        <span style="background:#4575b4">&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <span style="background:#e0f3f8">&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <span style="background:#fee090">&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <span style="background:#d73027">&nbsp;&nbsp;&nbsp;&nbsp;</span>
    </mat-radio-button>
    <mat-radio-button class="ml12px" value="2">
        <span style="background:#e06c4c">&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <span style="background:#f5d2ca">&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <span style="background:#c0e2f0">&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <span style="background:#1da4d1">&nbsp;&nbsp;&nbsp;&nbsp;</span>
    </mat-radio-button>
    <mat-radio-button class="ml12px" value="3">
        <span style="background:#313695">&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <span style="background:#abd9e9">&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <span style="background:#fee090">&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <span style="background:#d73027">&nbsp;&nbsp;&nbsp;&nbsp;</span>
    </mat-radio-button>
    <mat-radio-button class="ml12px" value="4">
        <span style="background:#5e4fa2">&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <span style="background:#e6f598">&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <span style="background:#fee08b">&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <span style="background:#9e0142">&nbsp;&nbsp;&nbsp;&nbsp;</span>
    </mat-radio-button>
    <mat-radio-button class="ml12px" value="5">
        <span style="background:#551b01">&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <span style="background:#f89d97">&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <span style="background:#c8ffd4">&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <span style="background:#014e1f">&nbsp;&nbsp;&nbsp;&nbsp;</span>
    </mat-radio-button>
</mat-radio-group>
<br/>
<br/>
<app-d3tc-horizon-chart-single class="ml12px" [data]="data" [width]="width" [height]="height" [mode]="mode" [bands]="7" [interpolation]="interpolation" [colors]="color"></app-d3tc-horizon-chart-single>
<app-d3tc-horizon-chart-single class="ml12px" [data]="data" [width]="width" [height]="height" [mode]="mode" [bands]="6" [interpolation]="interpolation" [colors]="color"></app-d3tc-horizon-chart-single>
<app-d3tc-horizon-chart-single class="ml12px" [data]="data" [width]="width" [height]="height" [mode]="mode" [bands]="5" [interpolation]="interpolation" [colors]="color"></app-d3tc-horizon-chart-single>
<app-d3tc-horizon-chart-single class="ml12px" [data]="data" [width]="width" [height]="height" [mode]="mode" [bands]="4" [interpolation]="interpolation" [colors]="color"></app-d3tc-horizon-chart-single>
<app-d3tc-horizon-chart-single class="ml12px" [data]="data" [width]="width" [height]="height" [mode]="mode" [bands]="3" [interpolation]="interpolation" [colors]="color"></app-d3tc-horizon-chart-single>
<app-d3tc-horizon-chart-single class="ml12px" [data]="data" [width]="width" [height]="height" [mode]="mode" [bands]="2" [interpolation]="interpolation" [colors]="color"></app-d3tc-horizon-chart-single>
<app-d3tc-horizon-chart-single class="ml12px" [data]="data" [width]="width" [height]="height" [mode]="mode" [bands]="1" [interpolation]="interpolation" [colors]="color"></app-d3tc-horizon-chart-single>
