#horizon-bands {
    float: right;
}

.label {
    vertical-align: middle;
}

.ml12px {
    margin-left: 12px;
}

.mlr12px {
    margin-left: 12px;
    margin-right: 12px;
}

.container {
    padding: 12px;
}
