// This fills the remaining space, by using flexbox. 
// Every toolbar row uses a flexbox row layout.
.fill-remaining-space {
    flex: 1 1 auto;
    // or: flex-grow: 1;
}

.show-small {
    display: none;
}

.logo {
    margin-right: 48px;
  }

// Rules for when the device is detected to be a small screen.
@media (max-width: 720px) {
    .hide-small {
        display: none;
    }

    .show-small {
        display: block;
    }
}

.app-toolbar {
    position: relative;
     z-index: 8;   
}