path.ohlc {
    fill: #000000;
    stroke: #000000;
    stroke-width: 1;
}

path.ohlc.up {
    fill: #00AA00;
    stroke: #00AA00;
}

path.ohlc.down {
    fill: #FF0000;
    stroke: #FF0000;
}

.container {
    padding:12px;
}

.button {
    margin-left: 12px;
}
