<app-d3tc-feed class="sample4" [svgheight]="300"></app-d3tc-feed>
<hr />
<app-d3tc-candlesticks class="sample4" [svgheight]="300"></app-d3tc-candlesticks>
<hr />
<app-d3tc-ohlc class="sample4" [svgheight]="300"></app-d3tc-ohlc>
<hr />
<app-d3tc-close class="sample4" [svgheight]="300"></app-d3tc-close>
<hr />
<app-d3tc-volume class="sample4" [svgheight]="300"></app-d3tc-volume>
<hr />
<app-d3tc-axis-annotations class="sample4" [svgheight]="250"></app-d3tc-axis-annotations>
<hr />
<app-d3tc-crosshair class="sample4" [svgheight]="250"></app-d3tc-crosshair>
<hr />
<app-d3tc-brush class="sample4" [svgheight]="300"></app-d3tc-brush>
<hr />
<app-d3tc-trendlines class="sample4" [svgheight]="300"></app-d3tc-trendlines>
<hr />
<app-d3tc-support-resistance class="sample4" [svgheight]="300"></app-d3tc-support-resistance>
<hr />
<app-d3tc-zooming class="sample4" [svgheight]="300"></app-d3tc-zooming>
<hr />
<app-d3tc-multiple-small-plots class="sample4" [svgheight]="200"></app-d3tc-multiple-small-plots>
<hr />
<app-d3tc-trade-arrows class="sample4" [svgheight]="300"></app-d3tc-trade-arrows>
<hr />
<app-d3tc-arrow class="sample4" [svgheight]="200"></app-d3tc-arrow>
<hr />
<app-d3tc-finance-time class="sample4" [svgheight]="500"></app-d3tc-finance-time>
