<div class="container">
    <p>
        Hilbert curves can be used to compress a 1D dataset into a 2D chart.
        In this demonstration, fifteen years of daily stock prices are plotted along Hilbert curves.
        Data close together in time will appear close together in 2D-space.</p>
    <p>
        However, it becomes almost impossible to discern the precise location of a particular point relative to the original one-dimensional scale.
        Blue indicates low and orange indicates high, on a logarithmic scale.</p>
    <p>
        Inspired by <a href="https://www.jasondavies.com/hilbert-stocks" target="new">Jason Davies.</a></p>
    <svg></svg>
</div>
