<div #container3 class="container">
  <h3>Click to re-center brush</h3>
  This customization is implemented by changing the type of the brush’s overlay element from overlay to selection so that clicking and
  dragging on the overlay element behaves identically to clicking and dragging on the brush selection. (The overlay element is the
  invisible rect element that receives pointer events when clicking outside the brush selection.) When the overlay is clicked and before
  brushing starts, the brush is recentered around the pointer, such that the brush remains centered around the pointer during brushing.
</div>
<svg></svg>
