//@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
//@import 'https://fonts.googleapis.com/icon?family=Roboto';
//@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
//@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500|Roboto+Mono:300';

//@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
//@import '~@angular/material/prebuilt-themes/indigo-pink';

@import '~@angular/material/_theming';

@include mat-core();

// Define the light theme.
$primary: mat-palette($mat-indigo);
$accent:  mat-palette($mat-pink, A200, A100, A400);

$theme: mat-light-theme($primary, $accent);
@include angular-material-theme($theme);

body {
 font-family: Roboto;
 margin: 0;
}
